.card {


    box-shadow: #fa7304(0, 0, 0, 0.1);
    background-color: rgba(247, 248, 250, 0.863);
    border-radius: 10%;

}

body {

    background-color: #fa7304;
    background-image: url(./../imagenes/FondoLoginDB.jpg);

}

input {

    background-color: #010a13;

}